[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
src = {editable = true, file = "file:///Users/solomon.negusse/wri/data-api-stac"}
boto3 = "*"
click = "*"
pandas = "*"
pystac = "*"
pystac-client = "*"
shapely = "*"
stac-validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
